{% extends "base.html" %}
{% block title %}
<title>FRNKN - Backlog</title>
{% endblock title %}

{% block content %}
<div class="container ta-backlog-projects">
  <div class="row">
    <div class="col-xs-12">
      <h1>Backlog Overview</h1>
    </div>
    {% if backlogs %}
      {% for backlog in backlogs %}
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">{{ backlog.name }}</h4>
            <p class="card-text">{{ backlog.description }}</p>
          </div>
          <div class="card-block">
            <a href="{% url 'backlog_detail_view' uuid=backlog.uuid %}" class="btn btn-primary">Open Backlog</a>
            <a href="#" class="btn btn-sm btn-danger">Delete</a>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <p>No backlogs yet</p>
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}
